.sidebar {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 100vh;
  overflow-y: hidden;
  background-color: #2B2E44;
  color: white;
  //box-shadow: 3px 0px 10px 0px #00000038;
  border-right: solid 1px #53566f;
}

h4 {
  letter-spacing: 1.2;
}