<div>
  <h1> Register </h1>
  <form (ngSubmit)="register()">
      <label>Full Name</label>
      <input type="text" name="name" placeholder="Name" [(ngModel)]="newUser.name">
      <label>Email</label>
      <input type="text" name="email" placeholder="Email" [(ngModel)]="newUser.email">
      <label>Password</label>
      <input type="password" name="password" placeholder="Password" [(ngModel)]="newUser.password">
      <button type="submit">Sign up</button>
      <br><br>
  </form>
  <div>
      <h5>Already have an account?</h5><a [routerLink]="['/login']">Login</a>
  </div>
</div>