.login {
    padding: 40px;
    background-color: #26243E;
    color: white;
    text-align: center;
    height: 100vh;
    vertical-align: middle;
}

.short-input {
    border: 0px;
    background-color: lavender;
    padding: 12px 30px;
    border-radius: 50px;
    margin: 10px;
}

.primary-btn {
    border: 0px;
    background-color: #01C7C8;
    border-radius: 50px;
    padding: 12px 30px;
    color: white;
    box-shadow: 1px 1px 1px 1px black;
}