<div class="login">
    <h1> Login </h1>
    <form (ngSubmit)="login()">
        <input class="short-input" type="text" name="email" placeholder="Email" [(ngModel)]="credentials.email"><br>
        <input class="short-input" type="password" name="password" placeholder="Password" [(ngModel)]="credentials.password"><br>
        <button class="primary-btn" type="submit">LOGIN</button>
        <br><br>
        <p>{{credentials.email}}</p>
    </form>
    <div>
        <h5>Don't have an account?</h5><a [routerLink]="['/register']">Sign Up</a>
    </div>
</div>