<h1>
    Ledger - {{ ledger.name }}
</h1>

<p>Here goes the summary of who pays who.</p>
<div *ngFor="let person of ledger.persons">
    <h4>{{ person }}</h4>
    <p>{{ balances.get(person).total }}</p>
</div>

<p>Here will be a list of all the transactions</p>

<hr>
<div *ngFor="let transaction of transactions">
    <h2> {{ transaction.name }} </h2>
    <p>
        $<span>{{ transaction.amountDollars }}</span>.
        <span>{{ transaction.amountCents }}</span>
    </p>
    <hr>
</div>

<form (ngSubmit)="createTransaction()">
    <label> Name </label><br>
    <input type="text" name="name" [(ngModel)]="newTransaction.name"><br>
    <label> Dollars </label><br>
    <input type="number" name="amountDollars" [(ngModel)]="newTransaction.amountDollars"><br>
    <label> Cents </label><br>
    <input type="number" name="amountCents" [(ngModel)]="newTransaction.amountCents"><br>
    <br>

    <label>Who Paid?</label>
    <div *ngFor="let person of ledger.persons; index as i">
        <input type="checkbox" name="person" [(ngModel)]="personsPaid[i]">
        <label> {{ person }} </label>
    </div>

    <label>Who Benefited?</label>
    <div *ngFor="let person of ledger.persons; index as i">
        <input type="checkbox" name="person" [(ngModel)]="personsBenefited[i]">
        <label> {{ person }} </label>
    </div>

    <h5>{{ personsPaid }}</h5>
    <h5>{{ personsBenefited }}</h5>

    <button type="submit"> Add Transaction </button>
</form>
