<h1>
    Ledger - {{ ledger.name }}
</h1>

<p>Here goes the summary of who pays who.</p>

<p>Here will be a list of all the transactions</p>

<div *ngFor="let transaction of transactions">
    <h2> {{ transaction.name }}</h2>
    <p>
        $<span>{{ transaction.amountDollars }}</span>.
        <span>{{ transaction.amountCents }}</span>
    </p>
</div>

<form (ngSubmit)="createTransaction()">
    <label> Name </label><br>
    <input type="text" name="name" [(ngModel)]="newTransaction.name"><br>
    <label> Dollars </label><br>
    <input type="number" name="amountDollars" [(ngModel)]="newTransaction.amountDollars"><br>
    <label> Cents </label><br>
    <input type="number" name="amountCents" [(ngModel)]="newTransaction.amountCents"><br>
    <br>
    <button type="submit"> Add Transaction </button>
</form>
